.NavBar-container {
  padding: var(--s) var(--m);
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
}

.NavBar-title {
  color: var(--white);
  font-size: 1.5em;
  display: flex;
  justify-self: flex-start;
}

.NavBar-login {
  display: flex;
  justify-self: flex-end;
}
