.AnimationEditor {
  @apply flex;
  @apply flex-col;
  @apply space-y-8;
  @apply lg:flex-row;
  @apply lg:space-x-8;
  @apply lg:space-y-0;
}

.AnimationEditor__section {
  @apply w-full;

  &.AnimationEditor__section--left {
    @apply lg:max-w-screen-md;
    @apply flex-shrink-0;
    @apply flex flex-col;
  }

  &.AnimationEditor__section--right {
    @apply flex flex-col;
    @apply w-full;
    @apply space-y-8;
  }
}

.AnimationCanvas.AnimationCanvas--editor {
  @apply flex;
  @apply hover:cursor-crosshair;
  @apply items-center justify-center;
  @apply rounded-md;
}

.AnimationCanvas__container.AnimationCanvas__container--editor canvas {
  @apply hover:cursor-crosshair;
  @apply rounded-none;
  @apply rounded-md;
}

.AnimationPlayerControls.AnimationPlayerControls--editor {
  @apply mt-4;
}

.AnimationPlayerControls__text.AnimationPlayerControls__text--editor {
  @apply w-auto;
}

.AnimationEditor-submit {
  background-color: #396dff;
  border: none;
  color: white;
  text-align: center;
  font-size: 1em;
  padding: 8px 16px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: flex-end;
  width: max-content;
}

.AnimationEditor-tools-container {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  gap: 16px;
  width: fit-content;
  // margin: auto;
  align-items: center;
}

.ColorPicker-container {
  @apply flex flex-col;
}

.EditorTool-label {
  @apply pb-4;
  @apply font-public;
  @apply font-bold;
}

.BrushPicker-radiocontainer {
  display: flex;
  flex-direction: row;
  @apply space-x-4;
}

.BrushPicker-option {
  display: flex;
  flex-flow: row;
  gap: 4px;
}

.BrushPicker-label {
  font-size: 1.5em;
}

.WeightTool-slidecontainer {
  display: flex;
  flex-flow: column;
  gap: 4px;
  justify-content: center;
}

.WeightTool-label {
  margin: auto;
}
