.AnimationEditor-container {
  display: flex;
  flex-flow: column;
  padding: 16px;
  gap: 16px;
}

.Edit {
  @apply mx-auto;

  @screen lg {
    @apply max-w-4xl;
  }
}

.AnimationEditor-sketch #sketch-editor {
  outline: 2px solid #d4d4d4;
}

.AnimationEditor-sketch {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AnimationEditor-submit {
  background-color: #396dff;
  border: none;
  color: white;
  text-align: center;
  font-size: 1em;
  padding: 8px 16px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: flex-end;
  width: max-content;
}

.AnimationEditor-tools-container {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  gap: 16px;
  width: fit-content;
  margin: auto;
  align-items: center;
}

.BrushPicker-radiocontainer {
  display: flex;
  flex-flow: column;
  gap: 4px;
}

.BrushPicker-option {
  display: flex;
  flex-flow: row;
  gap: 4px;
}

.BrushPicker-label {
  font-size: 1.5em;
}

.WeightTool-slidecontainer {
  display: flex;
  flex-flow: column;
  gap: 4px;
  justify-content: center;
}

.WeightTool-label {
  margin: auto;
}
