.Page--Index__header {
  @apply flex;
  @apply flex-row;
  @apply justify-between;
  @apply items-center;
  @apply mb-7;
  @apply h-5;
}

.Page--Index__title {
  @apply font-poppins;
  @apply text-base;
  @apply font-bold;
}

.Page--Index__options {
  @apply flex;
  @apply flex-row;
  @apply justify-between;
  @apply items-center;
  @apply space-x-4;
}

.Paginator {
  @apply h-7;
  @apply rounded-xl;
  @apply bg-secondary-600;
  @apply p-4;
  @apply flex flex-row;
  @apply justify-between;
  @apply items-center;
  @apply space-x-4;
  @apply font-public;
  @apply font-bold;
}

.Paginator__content {
  @apply select-none;
}

.Paginator__icon {
  @apply inline-block;
  @apply select-none;

  &:disabled {
    @apply opacity-30;
  }
}

.SortPicker-container {
  @apply flex flex-row;
  gap: 4px;
}

.SortPicker-select {
  @apply h-7;
  @apply rounded-xl;
  @apply bg-secondary-600;
  @apply p-4;
  @apply font-public;
  @apply font-bold;
  color: white;
  // TODO: for some reason text does not appear in box
}

.SortPicker-option {
  @apply h-7;
  @apply rounded-xl;
  @apply bg-secondary-600;
  @apply p-4;
  @apply font-public;
  @apply font-bold;
  color: white;
  // TODO: for some reason text does not appear in box
}

.SearchInput-container {
  @apply flex flex-row;
  gap: 4px;
}

.SearchInput-input {
  @apply h-7;
  @apply rounded-xl;
  @apply bg-secondary-600;
  @apply p-4;
  @apply font-public;
}
