.AnimationPlayer {
  @apply flex flex-col;
}

.AnimationThumbnail {
  &:hover {
    @apply cursor-pointer;
  }

  .AnimationThumbnail__image {
    @apply w-full object-cover;
  }
}

.AnimationCanvas {
  @apply w-full;
  @apply aspect-[16/9];
  @apply rounded-md;
  @apply hover:cursor-pointer;
  background-color: #797979;
  background-image: repeating-linear-gradient(
      45deg,
      #c0c0c0 25%,
      transparent 25%,
      transparent 75%,
      #c0c0c0 75%,
      #c0c0c0
    ),
    repeating-linear-gradient(45deg, #c0c0c0 25%, #797979 25%, #797979 75%, #c0c0c0 75%, #c0c0c0);
  background-position: 0 0, 28px 28px;
  background-size: 56px 56px;
}

.AnimationCanvas.AnimationCanvas--Skeleton {
  @apply bg-none;
  @apply bg-secondary-600;
  @apply rounded-md;
  @apply animate-pulse;
  @apply hover:cursor-default;
}

.AnimationCanvas__container canvas {
  @apply rounded-md;
}

.AnimationPlayerControls {
  @apply flex flex-row;
  @apply justify-between;
}

.AnimationPlayerControls__group {
  @apply flex flex-row;
  @apply items-center;

  &.AnimationPlayerControls__group--left {
    @apply flex-auto;
  }

  &.AnimationPlayerControls__group--right {
    @apply space-x-2;
  }
}

.AnimationPlayerControls__button {
  @apply text-primary;
  
  &:disabled {
    @apply text-secondary-500;
  }
}

.AnimationPlayerControls__icon {
  @apply w-8 h-8;
  @apply fill-current;

  &:hover:enabled {
    @apply text-red-700;
  }
}

.AnimationPlayerControls__subgroup {
  @apply flex flex-row;
  @apply items-center justify-center;
  @apply space-x-2;
}

.AnimationPlayerControls__text {
  @apply text-foreground;
  @apply text-center;
  @apply align-middle;
  @apply font-public;
  @apply text-base;
  @apply font-bold;
  @apply w-20;

  &.AnimationPlayerControls__text--disabled {
    @apply text-secondary-500;
  }
}

// .AnimationPlayerControls {
//   @apply bg-slate-100;
//   @apply flex flex-row;
//   @apply px-3.5;
//   @apply text-slate-500;


//   .AnimationPlayerControls__button {
//     @apply align-middle;

//     &:hover {
//       @apply text-red-500;
//     }
//   }

//   .AnimationPlayerControls__left {
//     @apply flex-auto;
//     @apply flex flex-row;
//     @apply space-x-2;
//     @apply items-center;
//   }

//   .AnimationPlayerControls__right {
//     @apply space-x-4;
//     @apply flex flex-row;
//   }
// }
